starlight-multi-sidebar-tabs {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
starlight-multi-sidebar-tabs [role=tablist] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-auto-flow: unset;
  gap: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--sl-color-hairline-shade);
}
starlight-multi-sidebar-tabs .tab > [role=tab] {
  text-align: left;
  border: none;
  padding: 0.25rem 0.5rem;
}
starlight-multi-sidebar-tabs .tab > [role=tab][aria-selected=true] {
  background-color: var(--sl-color-hairline-shade);
  color: var(--sl-color-white);
  border-radius: 0.5rem;
}

ul.top-level details ul li details .group-label span.large {
  font-weight: 400;
  font-size: var(--sl-text-sm);
  color: var(--sl-color-gray-2);
}

.site-title img {
  width: 60%;
}

.content-panel .hero + .sl-markdown-content {
  display: none;
}
.content-panel .hero + .sl-markdown-content + footer.sl-flex {
  display: none;
}

a.primary, a.header-button {
  border-radius: 20px;
}

main a {
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}
