starlight-multi-sidebar-tabs [role=tablist] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-auto-flow: unset;
  padding-inline: 0;
}

starlight-multi-sidebar-tabs .tab > [role=tab] {
  text-align: left;
  border-bottom: none;
  border-left: 1px solid var(--sl-color-gray-5);
  padding: 0.25rem 0.5rem;
}

starlight-multi-sidebar-tabs .tab > [role=tab][aria-selected=true] {
  border-left-width: 2px;
  border-color: var(--sl-color-text-accent);
  color: var(--sl-color-white);
}
