---
const {
  PUBLIC_ALGOLIA_APP_ID,
  PUBLIC_ALGOLIA_API_KEY,
  PUBLIC_ALGOLIA_INDEX_NAME,
} = import.meta.env;
---
<div id="docsearch"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3" defer></script>
<script
  is:inline
  define:vars={{
    PUBLIC_ALGOLIA_APP_ID,
    PUBLIC_ALGOLIA_API_KEY,
    PUBLIC_ALGOLIA_INDEX_NAME,
  }}
>
  document.addEventListener('DOMContentLoaded', () => {
    if (typeof docsearch !== 'undefined') {
      docsearch({
        container: '#docsearch',
        appId: PUBLIC_ALGOLIA_APP_ID,
        apiKey: PUBLIC_ALGOLIA_API_KEY,
        indexName: PUBLIC_ALGOLIA_INDEX_NAME,
      });
    }
  });
</script>

